html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #075ead;
    --secondary-color: #029b48;
    --accent-color: #FF9900;
    --white-color: #ffffff;
    --black-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    font-family: 'Nova Square', sans-serif;    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0); /* Inicialmente transparente */
    position: fixed;
    width: 100%;
    top: 0;
    transition: background-color 0.3s ease; /* Suaviza a transição */
}

header.scrolled {
    background-color: rgba(0, 0, 0, 0.5); /* Transparência de 50% ao rolar */
}

.logo-header {
    display: flex;
    flex-direction: row;
}

.logo-header img {
    height: 4rem;
}

.logo-content {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: start;
    margin-left: 0.5rem;
    color: var(--white-color);
    font-size: 1.2rem;
}

.inscricao a,
.inscricao-quero a {
    text-decoration: none;
    color: var(--white-color);
    font-family: 'Nova Square', sans-serif;  
    font-size: 1.2rem;
}

.inscricao button,
.inscricao-quero button {
    background-color: #FF9900;
    color: var(--white-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;    
}

main {
    background-image: url('/img/background2.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.container {
    text-align: center;
    margin-top: 100px; /* Para não ficar escondido atrás do header */
}

.logo-central {
    width: 16rem;
    /* margin-bottom: 20px; */
}

.container h2 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--white-color);
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Nova Square', sans-serif;  
}

.container p {
    color: var(--white-color);
    font-size: 1.2rem;
}

.container .event-heart,
.container .event-date {
    color: var(--white-color);
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container .event-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container .event-infor {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.7rem;
}

.container .event-lote {
    font-size: 1rem;
    margin-left: 30px;
    margin-top: -10px;
}

.container .event-infor .old {
    color: --black-color;
}

.container .event-infor hr {
    width: 90%;
    margin: 2px auto;
    border: none;
    border-top: 1px dotted white;
    color: var(--white-color);
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: var(--white-color);
    margin-bottom: 20px;
}

.countdown span {
    font-family: 'Squada One', sans-serif;
}

.time-box {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
    width: 100px;
}

.time-box p {
    margin-top: 5px;
    font-size: 1rem;
}

.time-box span {
    font-size: 2rem;
    display: block;
    font-weight: bold;
    font-family: 'Squada One', sans-serif;
}

.inscricao-quero {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white-color);
    position: relative; /* Necessário para posicionamento absoluto do botão */
}

footer #scrollToTopButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.5rem;
    padding: 5px;
    background-color: var(--accent-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer #scrollToTopButton:hover {
    background-color: var(--secondary-color);
}

@media (max-width: 768px) {
    .logo-central {
        width: 8rem;
        margin-bottom: 10px;
    }

    .countdown {
        font-size: 1.5rem;
        margin-bottom: 50px;
    }

    header {
        padding: 10px;
    }

    .container .event-welcome {
        margin-bottom: 30px;
    }

    .container h2 {
        text-align: center;
        font-size: 1.5rem;
    }

    .container .event-heart,
    .container .event-date {
        font-size: 1.2rem;
    }

    .container .event-infor {
        gap: 0.5rem;
    }

    .container p {
        font-size: 0.8rem;
    }

    .container .event-lote {
        font-size: 0.6rem;
    }

    .break {
        display: block;
    }

    .time-box {
        padding: 10px;
        width: 70px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animated-pulse {
    display: inline-block;
    animation: pulse 2s infinite;
}

.animated-bounce {
    display: inline-block;
    animation: bounce 2s infinite;
}

.animated-rotate {
    display: inline-block;
    animation: rotate 2s infinite;
}
